<div>
    <div class="logo">
        <img src="../../content/img/Title_01.png" />
    </div>
    <div class="center-block-200 margin-top-50">
        <div class="btn-group-vertical">
            <a class="btn btn-default btn-full" ui-sref="registration()">New Game</a>
            <a class="btn btn-default btn-full" ng-if="showContinue">Continue</a>
            <a class="btn btn-default btn-full" href="#">Quit</a>
        </div>


        <div style="margin-top:50px;">
            <div class="btn-group-vertical">
                <a class="btn btn-default btn-full" ui-sref="createAvatar()">Create Avatar</a>
                <a class="btn btn-default btn-full" ui-sref="selectAvatar()">Select Avatar</a>
                <a class="btn btn-default btn-full" ui-sref="findMelee()">Find Melee</a>
                <a class="btn btn-default btn-full" ui-sref="melee()">Melee</a>

            </div>
        </div>


    </div>
</div>